<html>
    <head>
        <title>Photo drop app</title>
    </head>
    <body>
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{PD}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Recent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<h3>
  Welcome to PhotoDrop
</h3>
<br>
<div class="card">
  <h1 class="card-header">
  Hello Foodies!
  <small class="text-muted">Where we share our love for food</small>
  </h1>
  <div class="card-body">
    <h5 class="card-title">Share your ultimate food images here and enjoy a discounted meal at your favourite restaurant</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Drop Photo</a>
  </div>
</div>
    </body>
</html>